@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

body{
    background: #f2f2f2;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    color: #3f3f3f;
}

h4{
    font-size: 20px;
}

h3 {
    font-size: 27px;
}

h2 {
    font-size: 34px;
}

h1{
    font-size: 42px;
}

p {
    font-size: 14px;
    font-weight: 400;
}

p, a{
    font-family: 'Poppins', sans-serif;
    color: #3f3f3f;
}

a{
    text-decoration: none;
}

.burger div{
    background: #3f3f3f;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.hero{
    height: 72vh;
}

.burger__animation .item1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.burger__animation .item2{
    opacity: 0;
}

.burger__animation .item3{
    transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width: 768px) {

    body{
        overflow-x: hidden;
    }
    .link__container{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #f2f2f2;
        display: flex !important;
        flex-direction: column !important;
        align-items: center;
        justify-content: space-around !important;
        width: 70%;
        transform: translateX(125%);
        transition: transform 0.5s ease-in;
        z-index: 1;

    }
}

.link__container_active{
    display: block;
    transform: translateX(30%);

}

.hover__text:hover{
    color: #f2f2f2 !important;

}